[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "mutt/mutt-colors-solarized"]
	path = mutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/ctrlp-py-matcher"]
	path = vim/bundle/ctrlp-py-matcher
	url = git@github.com:jdowner/ctrlp-py-matcher.git
	branch = staging
